<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<p>
    <span th:text="'Date is: ' + ${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></span>
</p>
<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Surname</td>
        <td>Age</td>
    </tr>
    <tr th:each="person : ${listPerson}">
        <td th:text="${person.id}">1</td>
        <td th:text="${person.name}">Asiman</td>
        <td th:text="${person.surname}">Suleymanov</td>
        <td th:text="${person.age}">33</td>
    </tr>
</table>
</body>
</html>